@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --foreground: #171717;
}

/* hide scrollbar but keep scrolling */
.scrollbar-none {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}